/.env.*.local
/.env.local
/.env.local.php
/.phpunit.result.cache
/.phpunit.result.cache
/bin/
/config/secrets/prod/prod.decrypt.private.php
/phpunit.xml
/phpunit.xml
/public/bundles/
/var/
/vendor/
!/bin/console
